.person__wrapper {
  background:red;
  display:table;
  margin: 0 auto;

  .col {
    display:inline-block;
    background:orange;
    width:1000px;
    margin: 0 auto;

    &.col--1 {
      color:blue;
      width:28%;
    }

    &.col--2 {
      color:green;
      width:70%;
    }
  }
}

.headroom-wrapper {
  background:#8b1637;
  height:auto;

  .navbar {
    background:none;
    width: auto;
    display:table;
    margin: 0 auto;

    .navbar__link--wrapper {
      background:none;
      display:inline-block;
      text-align:center;
      padding: 25px 0px;

      a {
        text-decoration:none;
        text-transform:uppercase;
        color:white;
        font-size:20px;
        padding:25px 40px;
      }

      &:hover {
        background: white;
        -o-transition: background .2s;
        -ms-transition: background .2s;
        -moz-transition: background .2s;
        -webkit-transition: background .2s;

        a {
          color: lighten(#8b1637, 25%);
          -o-transition: background .2s;
          -ms-transition: background .2s;
          -moz-transition: background .2s;
          -webkit-transition: background .2s;
        }
      }
    }
  }
}

.home__content {
  padding:50px;

  .home__title{
    font-size:50px;
    text-align:center;
  }
}



