// About

.about__content {
  
  .about__title {
    font-size:50px;
    text-align:center;
    padding:75px 0px;
    font-family:$f__title;
    background:$c__theme;
    color:white;
    text-transform: uppercase;
  }

  .about__section {
    width:800px;
    margin: 0 auto;
    padding-top:100px;

    .about__image {
      width:50%;
      padding:20px;
      display:inline-block;

      img {
      width:100%;
      height:auto;
      }
    }

    .about__summary {
      width:50%;
      padding:20px;
      display:inline-block;
      position:absolute;
      font-size:20px;
      font-family:$f__body;
    }
  }
}